body {
    background-image: url("../images2/skulls-background.png");
}
    
    #wrapper {
        background-color: darkslateblue;
        text-align: center;
        width: 800px;
        height: 600px;
        margin: auto;
    }
    
    
    #title {
        font-family: 'Creepster', cursive;
        font-size: 40pt;
        font-weight: lighter;
        padding-top: 10px;
        color:maroon;
    }

    #timer {
        margin: auto;    
    }

    button {
        width: 200px;
        height: 50px;
        font-weight: bold;
        font-size: 20pt;
        background-color: gray;
        display:block;
margin:auto    
    }


